.about-page {
    height: 100%;
    left: 60px;
    display: flex;
    justify-content: center;

    

    .text-zone {
        display:flex;
        padding-top: 5px;
        align-items: center;
        margin-top: 15vh;
        flex-direction: column;
        justify-content: flex-start;

        .about-heading {
            
            color: white;
            
        }
        
        .options {
            padding: 10px;

            .option {
                padding: 10px;
            }
        }
    }

    



    p {
        display: flex;
        color: white;
        width: 60vw;
        padding: 20px;
        font-size: 1.5rem;
        
    }
}






