.container {
    margin-left: 60px;
    position: absolute;
    display: block;
    width: 100vw;
}

.main-text {
  color: rgb(0, 17, 255);
  z-index: 2;
  background: transparent;
  position: absolute;
  top: 10%;
  left: 30%;
  font-family: 'Coolvetica';
  font-size: 10rem;
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.snow_wrap{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: relative;
}

.snow, .snow:before, .snow:after {
  z-index: -1;
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: 
  radial-gradient(4px 4px at 100px 50px, rgb(111, 0, 255) , transparent), 
  radial-gradient(6px 6px at 200px 150px, rgb(174, 0, 255), transparent), 
  radial-gradient(3px 3px at 300px 250px, rgb(255, 0, 179) 50%, transparent), 
  radial-gradient(4px 4px at 400px 350px, rgb(0, 247, 255) 50%, transparent), 
  radial-gradient(6px 6px at 500px 100px, rgb(255, 0, 119) 50%, transparent), 
  radial-gradient(3px 3px at 50px 200px, rgb(0, 132, 255) 50%, transparent), 
  radial-gradient(4px 4px at 150px 300px, rgb(225, 0, 255) 50%, transparent), 
  radial-gradient(6px 6px at 250px 400px, rgb(25, 0, 255) 50%, transparent), 
  radial-gradient(3px 3px at 350px 500px, rgb(255, 0, 119) 50%, transparent);
  background-size: 650px 650px;
  animation: snow 120s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 40s;
  animation-direction: reverse;
}

.snow:before {
	margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 50s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(650px);
  }
}

